.wrapper {
    background-color:#ecd6d4;;
    border-radius: 30px;
    padding: 30px;
    justify-content: center;
    width: 600px;
    height: 400px;
    font-family: "DM Sans", sans-serif;
    margin-left: 30px;
    margin-top: 6%;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  
    @media only screen and (max-width: 667px) {
      width: 100%;
      margin-top: 0px;
      padding: 0px;
      margin-left: 0px;
      margin-bottom: 30px;
    }
  
    h1 {
      font-size: 50px;
      align-items: center;
      margin-top: 25%;
  
      @media only screen and (max-width: 667px) {
        padding: 20px;
      }
    }
  
    h3 {
      font-size: 30px;
      font-family: monospace;
  
      @media only screen and (max-width: 667px) {
        padding-left: 10px;
      }
    }
  }