.footer {
    font-family: "DM Sans", sans-serif;
    font-size: 15px;
    font-weight: bold;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    background-color:#ecd6d4;
    text-shadow: 1px 2px rgb(216, 207, 207)
    
  }