  
.portfolioWrapper {
    width: 100vw;
  
    @media only screen and (max-width: 667px) {
      height: 1000px;
    }
  
    .arrow {
      top: 0;
      display: flex;
      align-items: center;
      margin-right: 100px;
      height: 100px;
      width: 100%;
      justify-content: space-between;
      h3 {
        font-size: 24px;
        font-family: "DM Sans", sans-serif;
        padding: 50px;
  
        @media only screen and (max-width: 667px) {
          padding: 0px;
          padding-left: 20px;
        }
      }
      a {
        padding: 50px;
        margin-right: 100px;
        color: black;
        @media only screen and (max-width: 667px) {
          padding-left: 20px;
          padding: 0px;
        }
      }
    }
  
    .cardWrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      height: 800px;
      width: 100vw;
      justify-content: center;
    }
  }